{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main class="main">
  {{#with data}}
  <div class="main__content">
    <h1 class="title title--center">{{name}}</h1>

    <h1 class="title title--center">Додати до плейлиста</h1>

    <ul class="track-list">
      {{#each tracks}}
      <li class="track">
        <img src="{{image}}" alt="{{name}}">
        <div class="track__content">
          <strong class="track__name">{{name}}</strong>
          <em class="track__author">{{author}}</em>
        </div>

        <form action="spotify-track-add" method="POST">
          <input type="hidden" name="playlistId" value="{{../playlistId}}">
          <input type="hidden" name="trackId" value="{{id}}">
          <button type="submit">
            <img src="/svg/add_button.svg" height="25px" width="25px" class="track__icon">
          </button>

        </form>

      </li>
      {{/each}}
    </ul>

  </div>
  {{/with}}

</main>



{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}