{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>

  {{!-- <section>
    <div class="form">
      <h1 class="form__title">Інформація про товар</h1>
      <form method="POST" action="/product-create">
        <div class="form__content">
          <div class="form__content-col">
            <div class="form__field">
              <label for="name" class="form__label">Назва товару:</label>
              <input type="name" name="name" class="form__input">
            </div>
            <div class="form__field">
              <label for="price" class="form__label">Ціна:</label>
              <input type="price" name="price" class="form__input">
            </div>
          </div>
          <div class="form__field">
            <label for="description" class="form__label">Короткий опис товару:</label>
            <input type="description" name="description" class="form__input">
          </div>
          <button class="form__button">Створити товар</button>
        </div>
      </form>
    </div>
  </section> --}}

  <section>
    <div class="form">
      <h1 class="form__title">Список товарів</h1>
      <div class="user-list">
        {{#with data.products}}
        {{#if isEmpty}}
        <mark>пустий</mark>
        {{else}}
        {{!-- <divCardBoxArea class="divCardBoxArea">
          {{#each list}}
          <divCard class="divCard">
            <div class="hero_content">
              <h2 class="hero_title"> {{name}} </h2>
              <p class="hero_text"> {{description}} </p>
              <p class="hero_text_id"> ID: {{id}} </p>
            </div>
            <div class="horison">
              <p class="hero_bottom"> {{price}} грн.</p>
              <a href="#" class="button_hero"> Редагувати </a>
            </div>
          </divCard>
          {{/each}}
        </divCardBoxArea> --}}
        {{>product-card list=list}}

        {{/if}}
        {{/with}}
      </div>
      {{!--
      </form> --}}
    </div>
  </section>





  {{!-- <section>
    <div class="form">
      <h1 class="form__title">Створити користувача</h1>
      <form method="POST" action="/user-create">
        <div class="form__content">
          <div class="form__field">
            <label for="email" class="form__label">Email адреса:</label>
            <input type="email" name="email" class="form__input">
          </div>
          <div class="form__field">
            <label for="login" class="form__label">Нікнейм:</label>
            <input type="login" name="login" class="form__input">
          </div>
          <div class="form__field">
            <label for="password" class="form__label">Пароль:</label>
            <input type="password" name="password" class="form__input">
          </div>
          <button class="form__button">Створити</button>

        </div>
      </form>
    </div>
  </section> --}}

  {{!-- <section>
    <div class="form">
      <h1 class="form__title">Список користувачів</h1>
      <div class="user-list">
        {{#with data.users}}
        {{#if isEmpty}}
        <mark>пустий</mark>
        {{else}}
        <ul>
          {{#each list}}
          <li>{{email}} | {{login}} | {{id}} <a href="/user-delete?id={{id}}">(видалити)</a> </li>
          {{/each}}
        </ul>
        {{/if}}
        {{/with}}
      </div>
    </div>
  </section> --}}

  {{!-- <section>
    <div class="form">
      <h1 class="form__title">Оновити пошту користувача</h1>
      <form method="POST" action="/user-update">
        <div class="form__content">
          <div class="form__field">
            <label for="id" class="form__label">ID:</label>
            <input type="id" name="id" class="form__input">
          </div>

          <div class="form__field">
            <label for="email" class="form__label">Нова email адреса:</label>
            <input type="email" name="email" class="form__input">
          </div>

          <div class="form__field">
            <label for="password" class="form__label">Пароль:</label>
            <input type="password" name="password" class="form__input">
          </div>
          <button class="form__button">Оновити</button>

        </div>
      </form>
    </div>
  </section> --}}

  <section>
    <h1> Hello</h1>
  </section>



</main>



{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}