{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>

  <section>
    <div class="form">
      <h1 class="form__title">Інформація про товар</h1>
      <form method="POST" action="/product-create">
        <div class="form__content">
          <div class="form__content-col">
            <div class="form__field">
              <label for="name" class="form__label">Назва товару:</label>
              <input type="name" name="name" class="form__input">
            </div>
            <div class="form__field">
              <label for="price" class="form__label">Ціна:</label>
              <input type="price" name="price" class="form__input">
            </div>
          </div>
          <div class="form__field">
            <label for="description" class="form__label">Короткий опис товару:</label>
            <input type="description" name="description" class="form__input">
          </div>
          <button class="form__button">Створити товар</button>
        </div>
      </form>
    </div>
  </section>

  <section>
    <div class="form">
      <h1 class="form__title">Список товарів</h1>
      <div class="user-list">
        {{#with data.products}}
        {{#if isEmpty}}
        <mark>пустий</mark>
        {{else}}
        <ul>
          {{#each list}}
          <li> {{id}} | {{name}} | {{createDate}} | {{price}} | <a href="/user-delete?id={{id}}">(видалити)</a> </li>
          {{/each}}
        </ul>
        {{/if}}
        {{/with}}
      </div>
    </div>
  </section>
</main>



{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}