<div class="field {{#if disabled}}field--disabled{{/if}} {{#if field__2c}}field__2c{{/if}}">
  <babel for="{{name}}" class="field__label">{{label}} </babel>
  <input type="{{#if type}}{{type}}{{/if}}" value="{{#if value}}{{value}}{{/if}}" name="{{name}}" class="field__input">
</div>