{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main class="main">
  {{#with data}}
  <div class="main__content">
    <h1 class="title title--center">Пошук плейлиста</h1>

    <form method="POST" action="/spotify-search" class="search">
      <img src="/svg/spotify-search.svg">
      <input type="search" class="search__input" placeholder="Введіть запит" name="value" value="{{value}}" />
      <button class="search__button">Пошук</button>
    </form>

    <ul class="playlist__list">
      {{#each list}}
      <li class="playlist">
        <img src="{{image}}" alt="{{name}}" height="100px" width="100px">
        <div class="playlist__content">
          <strong class="playlist__name">{{name}}</strong>
          <span class="playlist__amount">Кількість пісень: {{amount}}</span>
        </div>
      </li>
      {{/each}}
    </ul>

  </div>
  {{/with}}

</main>



{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}